html{
	font-size: 10px;
}
body{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #00131e;
}
.btn{
	width: 100px;
	color: #00131e;
	font-size: 2rem;
	font-family: "Segoe UI", sans-serif;
	font-weight: 700;
	padding: 4px 10px 6px;
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	border: 1px solid #0097f6;
}
.d-flex{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.container{
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}
.sidebar{
	padding: 20px 15px;
	position: fixed;
	max-width: 230px;
	width: 100%;
	height: 100%;
	left: -100%;
	z-index: 20;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	border-right: 2px solid #acacac;
	transition: all 300ms;
}
.sidebar.active {
	left: 0px;
}
.sidebar-overlay {
   background-color: rgba(0, 0, 0, 30%);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all 300ms;
}
#sidebar.active + .sidebar-overlay{
	opacity: 1;
	visibility: visible;
}
.sidebar__wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*================= inLogin ============
===================================*/
.sidebar__inLogin{
	text-align: center;
}
.inLogin__text{
color: #00131e;
font-size: 1.6rem;
font-weight: 700;
line-height: 1.2;
margin-bottom: 10px;
}
/*================= /inLogin ============
===================================*/
.sidebar-wrraper{
	display: none;
}
.sidebar__user-block {
	display: contents;
	margin-bottom: 27px;
}
.sidebar__user-icon{
	display: flex;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #0097f6;
	margin-bottom: 8px;
}
.sidebar__user-name {
	font-size: 14px;
	font-weight: 700;
}
.sidebar__menu-list {
	text-align: center;
	max-width: 300px;
	width: 100%;
	margin-top: 15px;
	border-bottom: 1px solid #acacac;
}
.sidebar__menu-item{
	margin-bottom: 3px;
}
.sidebar__menu-link{
	display: inline-block;
	width: 100%;
	padding: 15px 0;
	color: #00131e;
	font-size: 14px;
	font-weight: 300;
}
.sidebar__menu-link.active,
.sidebar__menu-link:hover {
	background-color: rgba(101, 101, 101, 0.69);
}
.sidebar__subscr {
	color: #0097f6;
	font-size: 18px;
	font-weight: 300;
	margin-top: 20px;
}
.sidebar__subscr-list {
	margin-top: 15px;
}
.sidebar__subscr-item {
	margin-bottom: 20px;
}
.sidebar__subscr-link {
	color: #00131e;
	line-height: 35px;
	height: 35px;
}
.sidebar__subscr-brand {
	margin-right: 20px;
}

/*===================== /SIDEBAR==============
============================================*/
.header {
	padding: 15px;
	/*background-color: #0097f6;*/
	background: rgb(45,139,255);
	background: -moz-linear-gradient(top, rgba(45,139,255,1) 0%, rgba(37,124,231,1) 100%);
	background: -webkit-linear-gradient(top, rgba(45,139,255,1) 0%,rgba(37,124,231,1) 100%);
	background: linear-gradient(to bottom, rgba(45,139,255,1) 0%,rgba(37,124,231,1) 100%);
	box-shadow: 0 0 24px 0 rgba(42, 132, 244, 0.21);
	margin-bottom: 20px;
}
.header-2{
	padding: 15px;
	background-color: #0097f6;
}
.burger__icon {
	cursor: pointer;
	position: fixed;
	left: 15px;
	width: 20px;
	height: 12px;
	z-index: 20;
}
.burger__line,
.burger__icon:before,
.burger__icon:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: #fff;
	transition: all 300ms;
}
.burger__line{
	top: 5px;
}
.burger__icon:before{
	top: 0;
}
.burger__icon:after{
	bottom: 0;
}
.burger__icon.active .burger__line{
	transform: scale(0);
}
.burger__icon.active:before{
	top: 5px;
	transform: rotate(45deg);
	background-color: #000;
}
.burger__icon.active:after{
	top: 5px;
	transform: rotate(-45deg);
	background-color: #000;
}
.header__logo{
	display: inline-flex;
	align-items: center;
}
.header__logo-img{
	margin: 0px 20px 0px 40px;
}
.header__logo-title {
	font-family: "Bitsumishi Pro", sans-serif;
	font-size: 2.5rem;
	color: #fff;
	letter-spacing: 5px;
	text-transform: uppercase;
	line-height: .8;
	text-align: center;
}
@media(min-width: 500px){
	.header__search{
		margin-right: auto;
	}
}
.search__form {
	margin: 0 20px;
}
.search__lable {
	cursor: pointer;
	position: relative;
}
.search__lable::after{
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 16px;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	background-image: url(../images/icons/search.svg);
	background-repeat: no-repeat;
}
.search__input {
	width: 250px;
	max-width: 100%;
	padding: 8px 35px 8px 10px;
	border-radius: 5px;
}
.header__menu-item {
	display: inline-block;
	margin-right: 20px;
}
.header__menu-link {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
}
/*================== MAIN =============
=====================================*/

/*================== /MAIN =============
=====================================*/

/*================== FOOTER ==========
======================================*/

/*================== /FOOTER ==========
======================================*/


/*================= POPUP ============
===================================*/
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;  
	transition: all 0.8s ease 0s;
}
.popup.open{
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__body{
	opacity: 1;
	visibility: visible;
}
.popup__body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.popup__lable-row{
	max-width: 400px;
	width: 100%;
}
.popup__lable-tab {
	color: #000;
	background-color: #fff;
	font-weight: 700;
	padding: 20px;
	display: inline-block;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	transition: all 0.8s ease 0s;
}
.popup__lable-tab:hover{

}
.popup__lable-tab.active{
	background-color: #ffffffd4;
	color: #33d684;
}
.popup__form{
	display: none;
}
.popup__form.active{
	display: block;
}
.popup__content{
	max-width: 400px;
	width: 100%;
	position: relative;
	padding: 30px;
	border-radius: 0px 10px 10px 10px;
	background-color: #fff;
	text-align: center;
	z-index: 1;
}
.popup__close{
	position: absolute;
	font-size: 25px;
	top: 10px;
	right: 10px;
	color: #000;
	text-decoration: none;
}
.popup-log__logo {
	margin-bottom: 20px; 
}
.popup-logo__img {
	margin-bottom: 15px;
}
.popup-log__title {
	color: #0097f6;
	font: 246%/45px "Bitsumishi Pro", sans-serif;
	letter-spacing: 3.7px;
}
.popup__group{
	position: relative;
	margin-bottom: 25px;
}

.popup__lable{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	color: #0097f6;
	transition: .3s;
}
.popup__input{
	width: 100%;
	font-size: 16px;
	letter-spacing: 1px;
	padding-bottom: 7px;
	background-color: transparent;
	outline: none;
	border-bottom: 1px solid #0097f6;
	transition: .3s;
}
.popup__input:focus{
	border-bottom: 1px solid #f9bc6d;
}
.popup__input:focus ~ .popup__lable,
.popup__input:not(:placeholder-shown) ~ .popup__lable{
	top: -16px;
	font-size: 12px;
	color: #0097f6b8;
}
/*.popup__input::placeholder{
	padding-bottom: 5px;
	color: #0097f6;
	font: 1.4rem/23px 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 1.4px;
	text-align: left;
}*/
.popup__wrap-btn{
	background-color: white;
	padding: 3px;
	border: 1px solid #f9bc6d;
	margin-bottom: 20px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
	-khtml-box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
	box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
	transition: .3s;
}
.btn-popup {
	display: block;
	width: 100%;
	padding: 7px 10px;
	border-radius: 4px;
	font-weight: 700;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 1.4px;
	line-height: 23px;
	background-color: rgb(255, 102, 0);
	text-shadow: 0 0 0 transparent, 0px 0px 3px rgba(0,0,0, 0.5);
	transition: .3s;
}
.popup__wrap-btn:focus,
.popup__wrap-btn:hover{
	border-color: rgba(0, 113, 240, 0.7);
}
.btn-popup:focus,
.btn-popup:hover{
	background-color: rgba(0, 113, 240, 0.7);
} 
.popup__lable-tab--link {
	color: #0097f6;
	font: 1.4rem/23px 'Roboto', sans-serif;
	letter-spacing: 1.4px;
	transition: .3s;
	padding: 0;
}
.popup__links:hover{
	color: #78b3d8d1;
}

/*================= /POPUP ============
===================================*/