html{
	font-size: 10px;
}
body{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #00131e;
}
.d-flex{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.container{
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}
.sidebar{
	padding: 20px 0;
	position: fixed;
	max-width: 300px;
	width: 100%;
	height: 100%;
	left: -100%;
	background-color: #a6aaada8;
	border-right: 2px solid #acacac;
	transition: all 300ms;
	z-index: 20;
}
.sidebar.active {
	left: 0px;
}
.sidebar-overlay {
   background-color: rgba(0, 0, 0, 30%);
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   transition: all 300ms;
}
#sidebar.active + .sidebar-overlay{
	display: block;
}
.sidebar__wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sidebar__user-block {
	display: contents;
	margin-bottom: 27px;
}
.sidebar__user-icon{
	display: flex;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #0097f6;
	margin-bottom: 8px;
}
.sidebar__user-name {
	font-size: 14px;
	font-weight: 700;
}
.sidebar__menu-list {
	text-align: center;
	max-width: 300px;
	width: 100%;
	margin-top: 15px;
	border-bottom: 1px solid #acacac;
}
.sidebar__menu-item{
	margin-bottom: 3px;
}
.sidebar__menu-link{
	display: inline-block;
	width: 100%;
	padding: 15px 0;
	color: #00131e;
	font-size: 14px;
	font-weight: 300;
}
.sidebar__menu-link.active,
.sidebar__menu-link:hover {
	background-color: rgba(101, 101, 101, 0.69);
}
.sidebar__subscr {
	color: #0097f6;
	font-size: 18px;
	font-weight: 300;
	margin-top: 20px;
}
.sidebar__subscr-list {
	margin-top: 15px;
}
.sidebar__subscr-item {
	margin-bottom: 20px;
}
.sidebar__subscr-link {
	color: #00131e;
	line-height: 35px;
	height: 35px;
}
.sidebar__subscr-brand {
	margin-right: 20px;
}


.header {
	padding: 15px 0px 0px;
	min-height: 55px;
	background-color: #0097f6;
}
.burger__icon,
.header__logo,
.header__search,
.header__menu{
	margin-bottom: 15px;
}
.burger__icon {
	cursor: pointer;
	position: relative;
	width: 20px;
	height: 12px;
	margin-right: 15px;
	z-index: 20;
}
.burger__line,
.burger__icon:before,
.burger__icon:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: #fff;
	transition: all 300ms;
}
.burger__line{
	top: 5px;
}
.burger__icon:before{
	top: 0;
}
.burger__icon:after{
	bottom: 0;
}
.burger__icon.active .burger__line{
	transform: scale(0);
}
.burger__icon.active:before{
	top: 5px;
	transform: rotate(45deg);
}
.burger__icon.active:after{
	top: 5px;
	transform: rotate(-45deg);
}
.header__logo-title {
	font-family: "Bitsumishi Pro", sans-serif;
	font-size: 21px;
	color: #fff;
	letter-spacing: 5px;
	text-transform: uppercase;
}
@media(min-width: 500px){
	.header__search{
		margin-right: auto;
	}
}
.search__form {
	margin: 0 20px;
}
.search__lable {
	cursor: pointer;
	position: relative;
}
.search__lable::after{
	content: '';
	position: absolute;
	display: block;
	width: 13px;
	height: 13px;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	background-image: url(../images/searchicon-2.svg);
}
.search__input {
	width: 225px;
	max-width: 100%;
	height: 25px;
	padding: 0px 10px 0px 30px;
	border-radius: 4px;
}
.header__menu-list {
}
.header__menu-item {
	display: inline-block;
	margin-right: 20px;
}
.header__menu-link {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
}
